@import "tailwindcss";

.leaflet-container {
  z-index: 10;
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.custom-popup .leaflet-popup-content {
  margin: 16px;
}
